.container {
    margin: 70px auto;
    width: 350px;
    background-color: rgb(93, 218, 197);
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(104, 104, 104, 0.2);
}

input {
    width: 70%;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
}

